header {
  height: 60px;
  font-size: 12px;
  background: #fff;
  box-shadow: 0 4px 6px #efefef;
  border-bottom: 1px solid #efefef;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
header div.logo {
  line-height: 30px;
  font-size: 14px;
  color: #333;
  margin-left: 20px;
}
header div.logo span.logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
}
header div.logo span.logo img {
  width: 100%;
}
header div.logo span.text {
  color: #00d3aa;
  margin-right: 4px;
  vertical-align: top;
}
header div.user {
  margin-right: 20px;
}
header div.user ul {
  display: flex;
}
header div.user ul li {
  padding: 0px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header div.user ul li .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('user.png') no-repeat center center;
  background-size: contain;
  margin-right: 6px;
}
